* {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

body {
  background-color: #f6f8fc;
}

body:has(.details-modal.--active) {
  overflow: hidden;
}

ol,
ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

button {
  border: none;
}

.content {
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  padding: 1rem;
  background-color: #ffffff;
}

.pagination {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1rem;
}

.pagination button {
  padding: .25rem .5rem;
  margin: .25rem 0;
  font-size: .875rem;
  color: #ffffff;
  background-color: #6c79db;
  border-radius: 1rem;
}

.details-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  pointer-events: none;
  visibility: hidden;
}

.details-modal .details-modal__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 0;
  opacity: 0;
}

.details-modal .details-modal__content {
  width: 100%;
  max-width: 768px;
  margin: 1rem;
  padding: 1rem;
  background-color: #ffffff;
  border-radius: 0.25rem;
  overflow-y: auto;
  z-index: 1;
  opacity: 0;
  position: relative;
  top: 100px;
  margin: 0 auto;
  transform: scale(0);
}

.details-modal__content, .details-modal__overlay{
  transition: all 0.2s ease-in-out;
}

.details-modal.--active {
  pointer-events: all;
  visibility: visible;
}

.details-modal.--active .details-modal__overlay {
  opacity: 1;
}

.details-modal.--active .details-modal__content {
  opacity: 1;
  transform: scale(1);
}

@media screen and (min-width: 992px) {
  .content {
    max-width: 992px;
    height: auto;
    margin: 1rem auto;
    border-radius: 1rem;
  }
}